html {
  padding: 1rem;
  background-color: slategray;
}
#alert {
  text-align: center;
  color: black;
}

body div {
  background-color: rgb(182, 202, 223);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

#map {
  border: 0.5rem rgb(155, 89, 41) solid;
  margin: auto;
  padding-bottom: 0.75rem;
}