html body {
  background-color: rgb(112, 145, 179);
  padding: 1rem;
}
#alert {
  color: black;
  text-align: center;
}

#contianer{
  max-width: 100%;
}

#map {
  margin-left: 17rem;
  padding-bottom: 0.75rem;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 2rem;
  text-align: center;
}

#weatherFormat {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  padding-left: 20rem;
  padding-right: 20rem;

}

#cityLatLon {
  padding: 0rem 14rem;
}

.mb-3 {
  padding: 0rem 14rem;
}

#formLabel {
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 500;
}

#explore {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.175rem;
}

#card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

#cardBody {
  background-color: rgb(212, 227, 248);
  font-weight: 500;
  text-align: center;
}

#cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

span {
  font-weight: 700;
}

#movieCard {
  background-color: rgba(233, 207, 236, 0.801);
  border: 1rem navy inset;
  float: left;
  height: 60rem;
  margin: 0.75rem;
}

#movieHeader {
  background-color: rgb(167, 166, 186);
  font-size: 1.2rem;
  height: 9.5rem;
  overflow: scroll;
  text-align: center;
  text-shadow: 1px 1px lightgray;
}

#movieHeader>p>span {
  font-size: 1.7rem;
}

#movieImg {
  height: 26rem;
  margin: 0.3rem auto;
  width: 25rem;
}

#movieBody {
  font-weight: 500;
  height: 14rem;
  overflow: scroll;
}

#movieFooter {
  background-color: rgb(167, 166, 186);
  height: 7rem;
  text-align: center;
}

#movieFooter>p {
  margin: 0rem;
}